@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Press Start 2P', cursive;
    background: rgb(75, 30, 0)
}

/*Logo e Instruções*/
.bg-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    z-index: 1;
}

.instructions{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-top: 14rem;
}

/*Pontuação e refresh da página*/
.pontos{
    position: absolute;
    top: 5%;
    right: 3%;
    font-size: 3rem;
    background: #000;
    padding: 7px 2px 0 7px;
    border: 2px solid #fff;
    color: rgb(247, 231, 9);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    z-index: 1;
}

.refresh{
    position: absolute;
    text-decoration: none;
    top: 5%;
    right: 3%;
    margin-top: 4rem;
    font-size: 1.7rem;
    background: rgb(74, 221, 82);
    padding: 7px 14px 7px 14px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 1;
    transition: .4s;
}

.refresh:hover{
    background: rgb(85, 255, 94);
    color: rgb(255, 255, 255);
    transition: .4s;
}

/*Tela do jogo*/
.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 16px ridge #007a04;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#42add8, #caeffd);
}

.clouds{
    position: absolute;
    top: 10px;
    width: 500px;
    animation: clouds-animation 10s linear infinite;
}

.pipe{
    position: absolute;
    bottom: -20px;
    width: 70px;
    animation: pipe-animation 2s infinite linear;
}

.mario{
    width: 150px;
    position: absolute;
    bottom: 0;
}

/*Velocidade do pulo*/
.jump{
    animation: jump 600ms ease-out;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
    width: .60rem;
    background-color: rgb(90, 90, 90);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(221, 221, 221);
    border-radius: .5rem;
    transition: .2s;
}

::-webkit-scrollbar-thumb:hover{
    transition: .2s;
    background-color: #fff;
}

/* Animações */
@keyframes pipe-animation{
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation{
    from {
        right: -50%;
    }

    to {
        right: 100%;
    }
}

/* Media Queries */
@media screen and (max-width: 768px){
    .game-board{
        height: 400px;
    }

    .mario{
        width: 150px;
    }

    .logo{
        width: 70%;
    }
    
    .instructions{
        width: 80%;
    }

    @keyframes clouds-animation{
        from {
            right: -70%;
        }
    
        to {
            right: 100%;
        }
    }

}

@media screen and (min-width: 968px){
    .game-board{
        height: 500px;
    }

    .mario{
        width: 150px;
    }

    .logo{
        width: 40%;
    }

    .instructions{
        width: 40%;
        margin-top: 12.5rem;
    }
}

@media screen and (min-width: 1550px){
    .game-board{
        height: 500px;
    }

    .mario{
        width: 150px;
    }

    .logo{
        width: 30%;
    }

    .clouds{
        animation: clouds-animation 9s linear infinite;
    }

    .instructions{
        width: 30%;
        margin-top: 14rem;
    }
}
